.mensaje__container {
    border: solid 1px #fafafa38;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 3%;
    width: 90vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #112252;
    transform : transition;
    transition-duration: 0.5s;

    .mensaje__container--title{
        color : white;


    }
    
 

}