.info__Container--gallery {

  margin-top: 15%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25%;
  row-gap: 50%;
  width: 95vw;
  border-radius: 10px;


  .info__Container--gallery--a {
    display: flex;
    align-items: center;
    justify-content: center;
    .info__Container--gallery--img {
      height: 25%;
      width: 25%;
      border-radius: 15px;
      min-width: 25px;
      min-height: 25px;
      max-width: 240px;
      max-height: 243px;

    }

    .info__Container--gallery--imgContainer {

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .info__Container--gallery--title {
        margin-top: 5%;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 100;
        font-style: italic;
        text-align: center;
      }

    }
  }

}

@media (min-width: 576px) {

  .info__Container--gallery {
    .info__Container--gallery--a {

  
    }
  }

}