.info__Container--gallery {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-template-rows: 30% 30%;
  column-gap: 1%;
  row-gap: 1%;
  height: 100vh;
  .info__Container--gallery--img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    min-width: 25px;
    min-height: 25px;
    max-width: 240px;
    max-height: 243px;

  }
  .info__Container--gallery--imgContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .info__Container--gallery--title{
      margin-top:4%;
      color: white;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 100;
      font-style: italic;
      text-align: center;
    }




  }
}
