.menu__container {
  
  font-family: "Ubuntu", sans-serif;
  background-color: #00000B;
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: 100%;
  width: 25%;
  opacity: 89%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .elementsContainer {

    height: 70%;
    width: 80%;
  

    .elementsContainer__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: "Ubuntu", sans-serif;
      border: solid 1px rgba(255, 255, 255, 0.26);
      color: white;
      height: 18%;
      width: 100%;
      border-radius: 10px;
      margin-top: 7%;


      .elementsContainer__container--icon {
        margin-bottom: 13px;
      }

      .elementsContainer__container--title {
        font-size: 60%;
      }
    }
  }

}

@media (min-width: 576px) {
  .menu__container {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .menuFlexContainer {
    border: solid 1px red;
    width: 100vw;
    display: flex;
    justify-content: center;

    .menu__container {
      width: 60%;
      height: 15%;
      border-radius: 10px;
      margin-bottom: 1vh;

      .elementsContainer {
        display: inherit;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .elementsContainer__container {
          width: 4vw;
          height: 4vw;


          .elementsContainer__container--icon {}

          .elementsContainer__container--title {}
        }
      }

    }
  }
}