@mixin sp-layout {
    @media screen and (max-width: 750px) {
        @content;
    }
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

.animationBackground {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 50%, #0c0d13 100%);
    overflow: hidden;
}
