@import './reset.min.scss';
@import './colors-palette.scss';

@mixin titles {
    margin: 15% 0 10% 0;
    font-size: 30px;
    color: $primary;
    margin-left: 5%;
}


//-- MENU COMPONENT --//
.navDesktop {
    display: none;
}

.nav {
    width: 100vw;
    height: 15vh;
    background-color: $secondary-transparent;


    .nav__logo {
        margin-left: 2%;
    }

    .nav__hamburguer {
        margin-right: 2%;

    }
}

.slide {

    width: 100%;
    height: 100%;
    background-color: $secondary;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    transform: transition;
    transition: 0.5s;
    color: $primary;
    overflow: scroll;

    .slide__closeMenuContainer {
        width: 100vw;
        height: 7.5vh;

        .closeIcon {
            //margin-right: 10%;
        }
    }

    .slide__logo {
        margin-left: 10%;

    }

    .slide__containerLinks {
        width: 100%;
        height: 100%;
        margin-left: 3%;
        margin-top: 25%;
        font-size: 90%;
        color: $tiertary;

        .slide__links {
            display: block;
            margin-bottom: 10%;
            text-decoration: none;
        }

        .slide__links:visited {
            color: $tiertary;
        }
    }

}






//-- END MENU COMPONENT --//



//-- HOME COMPONENT --//

#home {

    width: 100%;
    height: 30%;
    background-color: $secondary-transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    .home__container {
        margin-top: 10%;
        margin-left: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;



        .items {
            margin-bottom: 10%;
        }

        .home__container--title {


            color: $primary;
            font-size: 30px;
            width: 90%;

        }

        .home__container--link {
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
        }

        .home__container--link:focus {
            outline: none;
        }

        .home__container--link:active {
            color: transparent;
        }

        .home__container--paragraph {}

    }
}

//-- END HOME COMPONENT --//

//-- MUSIC VIDEOS COMPONENT --//
#ultimos-lanzamientos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $secondary;

    .ultimos-lanzamientos__titleContainer {
        width: 100%;
    }

    .ultimos-lanzamientos__container {

        display: grid;
        width: 95%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        row-gap: 1%;
        column-gap: 3%;
        margin-bottom: 30%;
        color: $primary;

        .modal {
            width: 100vw;
            height: 100%;
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.219);

            .modal__container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .modal__container--iconContainer {
                    width: 100%;
                    margin-bottom: 5%;
                    margin-right: 2%;
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }

    .loading__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ultimos-lanzamientos__title {
        @include titles();
        margin-left: 2.5%;
    }

    .img__container {
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        height: auto;

        .img__container--iconContainer {

            position: relative;
            z-index: 1;
            top: 50%;

            .img__container--icon {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }


    }


}


//-- END HOME COMPONENT --//  

//-- MUSIC STORE COMPONENT --//
#tienda {

    width: 100%;
    height: 100%;
    background-color: $secondary-transparent;
    border: solid 1px black;

    .tienda__title {
        @include titles();
    }
}

//-- END MUSIC STORE COMPONENT --//

//-- CONTACT COMPONENT --//
#contacto {
    width: 100vw;
    height: 50vh;
    background-color: $secondary-transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid 0.5px rgba(128, 128, 128, 0.363);

    .contacto__title {
        @include titles();
        margin-left: 2.5%;
    }

    .contacto__container {
        //border: solid 1px red;

        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2.5%;

        .contacto__container--button {
            margin-top: 10%;
            margin-bottom: 5%;
        }

    }
}




//-- END CONTACT COMPONENT --//

//-- FOOTER COMPONENT --//
#footer {
    width: 100%;
    height: 10vh;
    background-color: $secondary-transparent;


    .footer__container {
        height: 100%;

        .footer__containerLogo {
            margin-left: 2%;


            .footer__containerLogo--paragraph {
                font-size: 8px;
            }

        }

        .footer__socialMediaContaner {
            margin-right: 2%;
            width: 35%;
        }
    }

}

//-- END FOOTER COMPONENT --//




//RESPONSIVE DESIGN - MEDIA QUERIES 

@media (min-width: 768px) {

    //-- MENU COMPONENT --//

    .nav {
        background-color: $secondary;

        .nav__logo {
            margin-left: 2%;
        }

        .nav__hamburguer {
            margin-right: 2%;

        }
    }

    .slide {

        width: 100%;
        height: 100%;
        background-color: $secondary;
        position: fixed;
        z-index: 3;
        top: 0vh;
        transform: transition;
        transition: 0.5s;
        color: $primary;
        overflow: scroll;

        .slide__closeMenuContainer {
            width: 100vw;
            height: 7.5vh;

            .closeIcon {
                //margin-right: 10%;
            }
        }

        .slide__logo {
            margin-left: 10%;

        }

        .slide__containerLinks {
            width: 100%;
            height: 100%;
            margin-left: 3%;
            margin-top: 25%;
            font-size: 90%;
            color: $tiertary;

            .slide__links {
                display: block;
                margin-bottom: 10%;
                text-decoration: none;
            }

            .slide__links:visited {
                color: $tiertary;
            }
        }

    }



    //-- END MENU COMPONENT --//


    //--HOME COMPONENT --//
    #home {
        background-color: $secondary;
        height: 45vh;


        .home__container {

            .items {
                margin-bottom: 5%;
            }

            .home__container--title {
                font-size: 50px;
                width: 90%;
            }

            .home__container--link {
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
            }

            .home__container--link:focus {
                outline: none;
            }

            .home__container--link:active {
                color: transparent;
            }


        }
    }

    //-- END HOME COMPONENT --//

    //-- MUSIC VIDEOS COMPONENT --//

    #ultimos-lanzamientos {
        height: 75vh;
        background-color: $secondary-tablet-desktop;

        .ultimos-lanzamientos__container {
            //margin-left: 5%;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50%;
            row-gap: 1%;
            column-gap: 1%;


        }

        .ultimos-lanzamientos__title {
            @include titles();
            margin-left: 2.5%;
            margin-top: 10%;

        }

    }


    //-- END MUSIC VIDEOS COMPONENT --///

    #tienda {

        background-color: $secondary;
        border: solid 1px black;
        height: 100vh;

        .tienda__title {
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 2.5%;
        }
    }

    //-- CONTACT COMPONENT --//
    #contacto {
        height: 38vh;
        align-items: center;

        .contacto__title {
            width: 100%;
            margin-left: 0%;
            margin-top: 20%;
            text-align: center;
        }

        .contacto__container {

            width: 100%;
            margin-left: 0%;
            align-items: center;


            .contacto__container--button {
                margin-top: 10%;
                margin-bottom: 5%;
            }
        }
    }

    //-- FOOTER COMPONENT --//
    #footer {
        background-color: $secondary-tablet-desktop;

        .footer__container {
            .footer__containerLogo {

                .footer__containerLogo--paragraph {
                    font-size: 12px;
                }
            }

            .footer__socialMediaContaner {
                margin-right: 2%;
                width: 25%;
            }
        }
    }

    //-- END FOOTER COMPONENT --//


}

//LANDSCAPE ORIENTATION 

@media (orientation : landscape) {

    //-- MENU COMPONENT --//

    .nav {

        background-color: $secondary;
        min-height: 85px;

        .nav__logo {
            margin-left: 2%;
        }

        .nav__hamburguer {
            margin-right: 2%;
        }
    }

    //-- END MENU COMPONENT --//


    //--HOME COMPONENT --//
    #home {
        background-color: $secondary;
        height: 50%;
        width: 100%;

        .home__container {


            .items {
                margin-bottom: 5%;
            }

            .home__container--title {
                font-size: 50px;
                width: 90%;

            }

            .home__container--link {
                text-decoration: none;
                -webkit-tap-highlight-color: transparent;
            }

            .home__container--link:focus {
                outline: none;
            }

            .home__container--link:active {
                color: transparent;
            }


        }
    }

    //-- END HOME COMPONENT --//
    #ultimos-lanzamientos {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $secondary;

        .ultimos-lanzamientos__container {
            display: none;
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 50% 50% ;
            grid-template-rows: 50% 50%;
            row-gap: 1%;
            column-gap: 3%;
            margin-bottom: 30%;
            color: $primary;

            .modal {
                
                .modal__container {
                    .modal__container--iconContainer {}
                }
            }
        }

        .loading__container {}

        .ultimos-lanzamientos__title {}

        .img__container {
            .img__container--iconContainer {



                .img__container--icon {}
            }


        }

    }

}

@media (min-width: 1200px) {
    //-- MENU COMPONENT --// 

    .nav {
        display: none;
    }

    .navDesktop {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary;
        width: 100vw;
        height: 15vh;

        .nav__container {
            width: 60%;

            .nav__containerLinks {
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .nav__containerLinks--link {
                    letter-spacing: 1px;
                    text-decoration: none;
                }

                .nav__containerLinks--link {
                    letter-spacing: 1px;
                    text-decoration: none;
                }

                .nav__containerLinks--link:visited {
                    color: white;
                }

                .nav__containerLinks--link:active {
                    color: $tiertary;
                }

            }
        }

    }

    // --END MENU COMPONENT --//

    //-- HOME COMPONENT --//
    #home {

        .home__container {
            //background-color: red;
            margin-left: 22%;

            .items {}

            .home__container--title {}

            .home__container--link {}

            .home__container--link:focus {}

            .home__container--link:active {}

            .home__container--paragraph {}

        }
    }

    //-- END HOME COMPONENT --//


}